@charset 'UTF-8';
@font-face {
  font-family: 'BQ Regular';
  src: url('../assets/fonts/Block\ Berthold\ BQ\ Regular.otf');
}

body{
  font-family: 'BQ Regular', Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;  
  width: 100%;
  background: white;
  z-index: 1;  
}

.header__content {
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-between;
}

.menu {
  font-size: 12px;
  width: 40%;
  align-items: center;
}

.menu .menu__list {
  display: flex;
  justify-content: space-between;
  list-style: none;        
}

.menu__list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #59291C;
}

.menu__list li a:hover {
  color: #ED7902;
  transition: 0.5s;
}

.menu__list .icon {
  margin-right: 10px;    
}

.produtos__main {
  display: flex;   
  height: 623px;
  width: 100%;
  background: #EFE1DA;  
}

.produtos__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
   
}

.produtos__anuncio {
  position: relative;
  width: 50%;  
}

.produtos__anuncio h1 {
  font-size: 20pt;
  text-transform: uppercase;
  color: #FAAF18;
  margin-bottom: 15px;
}

.produtos__anuncio h1 > img {
  margin-left: 40px;
}

.produtos__anuncio h2 {
  font-size: 50pt;
  margin-top: 15px;
  color: #FAAF18;
}

.produtos__anuncio h3 {
  font-size: 11pt;
  margin-top: 5px;
  color: #59291C;
}

.produtos__anuncio .arrow {
  position: absolute;
  top: 130px;
  right: 45px;
}

.btn {  
  position: absolute;
  font-family: 'BQ Regular', Arial, Helvetica, sans-serif;
  background: #59291C;  
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  width: 208px;
  height: 64px;
  top: 150px;
  left: 282px;
}

.btn:hover {
  cursor: pointer;
  background: #ED7902;
  color: black;
  transition: 0.5s;
}

.produtos__combo {
  position: relative;
  width: 50%;  
}

.informative-combo {
  position: absolute;
  display: flex;
  align-items: center;  
  color: white;
  font-size: 10pt;
  top: 280px;
  right: 105px;
}

.informative-combo > img {
  padding: 10px;
}

.combo {
  position: absolute;
  max-width: 100%;
  top: -160px;
  right: 8px;   
}

.background-yellow {
  position: absolute;  
  top: -385px;
  right: 45px;
}

.publicity {
  display: flex;
  width: 100%;
  height: 200px;
  background: #ED7902;    
}

.publicity__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.publicity__login {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 50%;  
}

.login h1 {
  font-size: 15pt;
  color: white;
}

.login h2 {
  font-size: 30pt;
  white-space: nowrap;
  text-transform: uppercase;
  color: #59291C;
}

.login__banner {
  max-width: 100%;
}

.banner_orange {
  position: absolute;
  top: -70px;
  right: 430px;
}

.arrows {
  position: absolute;
  top: 0px;
  right: 10px;
}

.publicity__contact {
  position: relative;
  display: flex;
  justify-content: center;   
  width: 50%;  
}

.background-contact {
  margin-top: 30px;
}

.contact-facebook {
  position: absolute;  
  display: flex;
  align-items: center;
  color: #475993;  
  top: 50px;
  left: 200px;
}

.contact-facebook > img {
  padding: 10px;
}


.rectangles {  
  width: 100%;   
}

.rectangles__content {
  display: flex;
  align-items: center;
  justify-content: center;  
}

.rectangle__one {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;  
}

.rectangle__one__content {
  position: relative;
  display: flex;
  align-items: center;  
  margin: 40px 0;
  width: 219px;
  height: 144px;
  background: #FAAF18;
  border-radius: 12px;
}

.rectangle__one__content > p {
  font-size: 16pt;
  color: white;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
}

.rectangle__one__content .stars {
  position: absolute;
  top: 30px;
  right: 65px;
}

.rectangle__two {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.rectangle__two__content {
  display: flex;
  align-items: center;  
  width: 219px;
  height: 144px;
  background: #59291C;
  border-radius: 12px;
}

.rectangle__two__content > p {
  font-size: 17pt;
  color: white; 
  text-align: center;
  text-transform: uppercase;  
}

.rectangle__two__content > p > span {
  color: red;
}

.rectangle__three {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.rectangle__three__content {
  display: flex;
  align-items: center;
  justify-content: center;   
  width: 219px;
  height: 144px;
  background: #F5ECE7;
  border-radius: 12px;
}

.rectangle__three__content > p {
  font-size: 17pt;
  color: red; 
  text-align: center;
  text-transform: uppercase; 
}

.rectangle__three__content > p > span {
  font-size: 20pt;
  font-weight: bold;
  color: #ED7902;
}  

.rectangle__four {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%; 
}

.rectangle__four__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;   
  width: 219px;
  height: 144px;
  background: #F5ECE7;
  border-radius: 12px;
}

.rectangle__four__content > p {
  font-size: 20pt;
  font-weight: bold;
  color: #475993; 
  text-align: center;
  text-transform: uppercase; 
}

.rectangle__four__content > p > span {
  font-style: italic;
  font-weight: normal;
  font-size: 15pt;
}

.rectangle__four__content .king {
  position: absolute;
  top: 38px;
  right: 42px;
}

.rectangle__five {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;  
}

.rectangle__five__content {
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 219px;
  height: 144px;
  background: #F5ECE7;
  border-radius: 12px;
}

.rectangle__five__content > p {
  font-size: 20pt;
  font-weight: bold;
  color: #ED7902; 
  text-align: center;
  text-transform: uppercase; 
}

.rectangle__five__content > p > span {  
  font-weight: normal;
  font-size: 15pt;
  color: #59291C;    
}

.lunch__menu {  
  width: 100%;
}

.lunch__menu__content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.lunch__menu__content ul li {
  position: relative;
  display: flex;
  justify-content: center;  
  width: 33.3%;  
}
.lunch__menu__content ul li p {
  position: absolute;
  text-transform: uppercase;
  font-size: 9pt;
  bottom: 70px;
  left: 70px;
  color: #59291C;  
}

.lunch__menu__content ul li p span {
  font-size: 18pt;
  color: #ED7902;
}


.footer {
  width: 100%;
  background: #59291C;  
}

.footer__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10pt;
  color: white;
  padding: 20px;
}

.rslides__lunchs {  
  list-style: none;
  overflow: hidden;
}

.rslides__lunchs li {
  -webkit-backface-visibility: hidden;  
  width: 100%;  
}

.rslides__lunchs li:first-child {  
  float: left;
}


.rslides_tabs {
  text-align: center;
  margin-top: 14px;
}

.rslides_tabs li {
  display: inline;
  margin: 0 5px; 
}

.rslides_tabs li a {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgba(255, 0, 0, 0.294);
  color: rgba(255, 0, 0, 0.294);
  border-radius: 20px;
  overflow: hidden;
  text-indent: -200px;
}

.rslides_tabs li a:hover, .rslides_tabs li.rslides_here a {
  background: red;
  color: red;
}
 


