@charset 'UTF-8';
@font-face {
  font-family: 'BQ Regular';
  src: url('../assets/fonts/Block\ Berthold\ BQ\ Regular.otf');
}

body{
  font-family: 'BQ Regular', Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;  
  width: 100%;
  background: white;
  z-index: 1;  
}

.header__content {
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-between;
}

.menu {
  font-size: 12px;
  width: 400px;
  align-items: center;
}

.menu .menu__list {
  display: flex;
  justify-content: space-between;
  list-style: none;        
}

.menu__list li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #59291C;
}

.menu__list .icon {
  margin-right: 10px;    
}

.introducao {
  display: flex;  
  align-items: center;
  background: #EFE1DA;
  width: 100%;  
  height: 623px;
}

.introducao__content h1 {
  display: flex;  
  align-items: center;
  text-transform: uppercase;
  font-size: 25pt;
  color: #FAAF18;
  margin: 20px 0;  
}

.introducao__content h1 > img {
  margin-left: 40px;
}

.introducao__content .price {
  display: flex;  
  font-size: 55pt;
  margin-bottom: 5px;
  color: #FAAF18;
}

.introducao__content .arrow {
  position: relative;
  top: 90px;
}

.btn {  
  position: relative;
  font-family: 'BQ Regular', Arial, Helvetica, sans-serif;
  background: #59291C;  
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  width: 208px;
  height: 64px;
  top: -65px;
  left: 305px;
}

.produtos-menu__content {
  align-items: center;  
}

.produtos-menu__content p {      
  position: relative;      
  display: flex;
  align-items: center;
  font-size: 10pt;
  color: white;  
  top: 630px;      
  left: 35px;
}

.produtos-menu__content p > img {
  margin: 10px;
}

.background-menu {
  position: absolute;
  top: 0px;
  right: 80px;  
  height: 683px;
  width: 528px;
  background: #FAAF18;
  border-radius: 0px 0px 12px 12px;  
}

.combo-menu {
  position: absolute;
  top: 145px;
  right: -74px;
}

.marketing {   
  width: 100%;
  background: #ED7902;
  height: 200px;
}

.marketing__content {
  display: flex;
  align-items: center;  
}

.marketing__content > p {
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
  font-size: 13pt;
  color: #475993;
  right: 520px;
  top: 30px;
}

.marketing__content > p > img {
  margin: 20px;
}    

.title h1 {
  color: white;
  font-size: 14pt;
  margin-bottom: 10px;
}

.title h2 {
  color: #59291C;
  font-size: 35pt;
  white-space: nowrap;
  text-transform: uppercase;
}

.marketing__content .logo {
  position: relative;
  right: 550px;
}

.marketing__content .arrows {
  position: relative;
  left: 100px;
}

.background-contact {
  position: relative;
  right: 117px;
  top: 30px;
}







