.btn {
  position: absolute;
  font-family: "BQ Regular", Arial, Helvetica, sans-serif;
  background: #59291c;
  border: none;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  width: 208px;
  height: 64px;
  top: 150px;
  left: 282px;
}

.btn:hover {
  cursor: pointer;
  background: #faaf18;
  color: black;
  transition: 0.5s;
}