.rectangles__content {
  display: flex;  
}

.rectangle { 
  display: flex;   
  flex: 1 1 200px;
  flex-wrap: wrap;  
  background: #f5ece7;
  margin: 20px;
  height: 144px; 
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease-in;   
}

.rectangle:hover {
  transform: scale(1.2);
}

.rectangle__orange { 
  display: flex;   
  flex: 1 1 200px;
  flex-wrap: wrap;  
  background: #faaf18;
  margin: 20px;
  height: 144px; 
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease-in;   
}

.rectangle__orange:hover {
  transform: scale(1.2);
}

.rectangle__brown { 
  display: flex;   
  flex: 1 1 200px;
  flex-wrap: wrap;  
  background: #59291c;
  margin: 20px;
  height: 144px; 
  border-radius: 12px;
  align-items: center;
  justify-content: center; 
  transition: all 0.8s ease-in; 
}

.rectangle__brown:hover {
  transform: scale(1.2);
} 

.rectangle__one__content {  
  display: flex;
  flex-direction: column;   
}

.rectangle__one__content img {
  width: 50%;
  margin: 0 auto;
}

.rectangle__one__content  p {
  font-size: 1em;
  margin-top: 20px;
  color: white;
  text-align: center; 
  text-transform: uppercase;
}

.rectangle__two__content > p {
  font-size: 17pt;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.rectangle__two__content > p > span {
  color: red;
}


.rectangle__three__content > p {
  font-size: 17pt;
  color: red;
  text-align: center;
  text-transform: uppercase;
}

.rectangle__three__content > p > span {
  font-size: 20pt;
  font-weight: bold;
  color: #ed7902;
}

.rectangle__four__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rectangle__four__content .king {
  width: 20%;  
}

.rectangle__four__content > p {
  font-size: 20pt;
  font-weight: bold;
  color: #475993;
  text-align: center;
  text-transform: uppercase;
}

.rectangle__four__content > p > span {
  font-style: italic;
  font-weight: normal;
  font-size: 15pt;
}

.rectangle__five__content > p {
  font-size: 20pt;
  font-weight: bold;
  color: #ed7902;
  text-align: center;
  text-transform: uppercase;
}

.rectangle__five__content > p > span {
  font-weight: normal;
  font-size: 15pt;
  color: #59291c;
}

