.produtos__main {
  display: flex;
  width: 100%;
  padding-top: 90px;
  min-height: 55vh;

  /* background: #efe1da; */
}

.produtos__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.produtos__anuncio {
  position: relative;
  width: 50%;
}

.produtos__anuncio .whopper {
  width: 100%;
}

.produtos__anuncio h1 {
  font-size: 20pt;
  text-transform: uppercase;
  color: #faaf18;
  margin-bottom: 15px;
}

.produtos__anuncio h1 > img {
  margin-left: 40px;
}

.produtos__anuncio h2 {
  font-size: 50pt;
  margin-top: 15px;
  color: #faaf18;
}

.produtos__anuncio h3 {
  font-size: 11pt;
  margin-top: 5px;
  color: #59291c;
}

.produtos__anuncio .arrow {
  position: absolute;
  top: 130px;
  right: 45px;
}

.produtos__combo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 50%;
}

.produtos__combo::after {
  content: "";
  position: absolute;
  background: #faaf18;

  border-radius: 0 0 12px 12px;

  top: 0px;
  right: 30px;
  height: 105%;
  width: 90%;

  z-index: 2;
}

.combo {
  max-width: 100%;
  z-index: 3;

}

.informative-combo {
  position: absolute;
  display: flex;
  align-items: center;
  color: white;
  font-size: 10pt;
  top: 280px;
  right: 105px;
}

.informative-combo > img {
  padding: 10px;
}

.background-yellow {
  position: absolute;
  top: -385px;
  right: 45px;
}
